<% provide(:title, @newbie.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @newbie %>
        <%= @newbie.name %>
      </h1>
    </section>
  </aside>
</div>