<%= provide(:title, 'All posts') %>
<div class="container-fluid">
	<header class="jumbotron subhead">
		<div class="breadcrumb">
			<div class="row-fluid btn-toolbar">
				<div class="span2">
					<strong>All <%= @posts.count %> posts</strong>
				</div>
			</div>
		</div>
	</header>
	
	<div class="row-fluid">
		<div class="span16">
			<table class="table-striped table-bordered table items-list">
				<tread>
					<tr>
						<th>
							<i class style="position:absolute"></i>
							Id
						</th>
						<th>
							<i class style="position:absolute"></i>
							Name
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=user.gender" style>Gender</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=user.major" style>Major</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=arrival_date" style>Arrival date</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=arrival_time" style>Arrival time</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=flight_number" style>Flight number</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Number of people
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=need_pickup" style>Need airport pickup?</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=need_housing" style>Need temp housing?</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Notes
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=status" style>Pickup status</a>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<a href="/posts?order=temp_housing" style>Temp housing status</a>
						</th>
					</tr>
				</tread>
				<tbody class="autopagerize_page_element">
				
  					<%= render @posts %>
				</tbody>
			</table>
		</div>
	</div>
</div>